.main-container{
	width:730;background-color: white;
	border-top: 1px black solid;
	border-left: 1px black solid;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	margin-top: 5px;
}

.form-input{
	padding: 10px;
	background-color: aliceblue;
	border: 1px black solid;
}

.disclaimer-text{
	color: grey;
	font-size: smaller;
}

.copyright-text{
	font-size: small;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: black;
}

.article-header{
	padding: 7px; 
	border: 1px steelblue solid; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

img.center {
  margin-left: auto;
  margin-right: auto;
}

.description {
	margin: 20px;
	color: grey;
	font-size: small;
}
.article{
	padding: 8px;
    background-color: whitesmoke;
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.linkBar {
	border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding: 5px;
    text-align: center;
}

.link {
	padding-right: 7px;
    padding-left: 10px;
    font-variant: small-caps;
    font-size: initial;
}

.linkRight {
	border-left: solid 1px lightgrey;
}