.main-container{
	width:730;background-color: white;
	border-top: 1px black solid;
	border-left: 1px black solid;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	margin-top: 5px;
}

.disclaimer-text{
	color: grey;
	font-size: smaller;
}

.copyright-text{
	font-size: small;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: black;
}

.article-header{
	padding: 7px; 
	border: 1px steelblue solid; 
	border-radius: 5px;
}

img.center {
  margin-left: auto;
  margin-right: auto;
}